.randomizer_container {
  width: 100vw;
  height: 60vh;
  color: var(--red-100);
  background-color: var(--cream-60);
}

.mayonnaiseText_container,
.spacing_container {
  width: 70vw;
  height: 20vh;
  font-family: "Comfortaa", cursive;
  /* gap: 8px; */
  /* border: red solid 1px; */
}

.mayonnaiseText_container h2 {
  width: 100%;
  height: 50%;
  font-size: var(--font-l);
  font-weight: 700;
}

.spoon_container {
  width: 100%;
  height: 50%;
}
