.about_text_container {
  width: 80vw;
  line-height: 1.5em;
  text-align: center;
}

.about_text_container p {
  margin-bottom: var(--font-s);
}

.creator_text_container {
  height: 10vh;
  font-size: var(--font-xs);
}

.creator_text_container a {
  color: var(--red-100);
}

.creator_text_container a:hover {
  color: var(--red-60);
}
