:root {
  --red-100: #e70a26;
  --red-60: #d12d35;
  --cream-100: #fff1ad;
  --cream-60: #fffade;
  --white: #ffffff;

  --font-xxs: 0.4vw;
  --font-xs: 0.7vw;
  --font-s: 1vw;
  --font-m: 1.2vw;
  --font-l: 2vw;
  --font-xl: 12vw;
}
