* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--cream-60);
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}
