/* --- LAYOUT --- */
.two-grid-columns_expand-two {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.three-grid-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4vw;
}

.seven-grid-columns {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.four-grid-columns_custom {
  display: grid;
  grid-template-columns: 3fr 0.5fr 2fr 3fr;
}

.justify-items_start {
  display: grid;
  justify-items: start;
  align-items: center;
}

.justify-items_center {
  display: grid;
  justify-items: center;
}

.align-items_end {
  display: grid;
  justify-items: center;
  align-items: end;
}

.place-items_center {
  display: grid;
  place-items: center;
}
